APP_NAME=MedialibraryPro
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://medialibrary.pro.test

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_CREATE_WHEN_MISSING=true

SESSION_DRIVER=cookie
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=log

MEDIA_DISK=media

MAILCOACH_LIST_UUID=4af46b59-3784-41a5-9272-6da31afa3a02

SINGLE_PURCHASABLE_ID=9
UNLIMITED_PURCHASABLE_ID=11
